#pragma once
#include <Windows.h>


#define NONCE_SIZE <|REPLACE_NONCE_SIZE_HERE|>
#define KEY_LENGTH 32


typedef struct Config {
	DWORD DebugChecks;
	BOOL LocalOrRemotePayload;
#ifdef REMOTE_PAYLOAD
	struct { WCHAR url[<|REPLACE_URL_HERE|>]; 
		WCHAR uri[<|REPLACE_URI_HERE|>]; 
		//WCHAR UserAgent[<|REPLACE_UA_HERE|>]; 
		DWORD port; 
		DWORD isSecure; 
	} http;
#endif
#ifdef REMOTE
	struct { 
		DWORD pid; 
		WCHAR dllName[<|REPLACE_DLL_NAME_HERE|>]; 
		WCHAR ProcessName[<|REPLACE_PROCESS_NAME_HERE|>]; 
	} remoteSettings;
	/*
	above is for per choice settings, e.g 
	user may want to target PID 123 for remote injection, 
	may want to target d3dui.dll for module stomping etc
	
	*/
#endif

	BYTE EncryptionKey[KEY_LENGTH]; 
	BYTE Nonce[NONCE_SIZE];
	DWORD DelayBetween; // delay between api calls, mem ops and execution ops
	DWORD DelayBefore; // delay before final payload execution

} Config;

BOOL ParseConfig();

static inline PBYTE GetConfigBytes() {
	return (PBYTE)<REPLACE_CONFIG_BYTES>;
}

static inline DWORD GetConfigSize() {
	return <REPLACE_CONFIG_SIZE>;
}